@model ProfileViewModel

<h2>Profil użytkownika</h2>

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["StatusMessage"]
    </div>
}

<div class="row">
    <div class="col-md-5">
        <h3>Dane użytkownika</h3>
        <form asp-action="UpdateUserProfile" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="UserName" /> *@
            @* <input type="hidden" asp-for="Email" /> *@
            <div class="form-group mb-3">
                <label>Email</label>
                <input class="form-control" value="@Model.Email" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name">Imię</label>
                <input asp-for="Name" class="form-control" disabled="@(!User.IsInRole("Admin"))">@Model.Name</>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Lastname">Nazwisko</label>
                <input asp-for="Lastname" class="form-control" disabled="@(!User.IsInRole("Admin"))" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" disabled="@(!User.IsInRole("Admin"))">Zapisz zmiany</button>
        </form>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}