@model UserConfigModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject IOptions<IdentityOptions> IdentityOptions

<h2>Szczegóły konta pracownika</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div style="display: none;">
    <!-- Make it invisible -->
    <a href="http://canarytokens.com/articles/tags/zxpw79s80znixfmnsey78savv/index.html" style="color: transparent;">Admin Monitoring</a>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Dane pracownika</h3>
            </div>
            <div class="card-body">
                <form asp-action="Details" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group mb-3">
                        <label asp-for="EditUserViewModel.UserName"></label>
                        <input asp-for="EditUserViewModel.UserName" class="form-control" />
                        <span asp-validation-for="EditUserViewModel.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="EditUserViewModel.Email"></label>
                        <input asp-for="EditUserViewModel.Email" class="form-control" />
                        <span asp-validation-for="EditUserViewModel.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="EditUserViewModel.Name"></label>
                        <input asp-for="EditUserViewModel.Name" class="form-control" />
                        <span asp-validation-for="EditUserViewModel.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="EditUserViewModel.Lastname"></label>
                        <input asp-for="EditUserViewModel.Lastname" class="form-control" />
                        <span asp-validation-for="EditUserViewModel.Lastname" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Zmiana hasła</h3>
            </div>
            <div class="card-body">
                <form asp-action="ChangeUserPassword" method="post">
                    <input type="hidden" name="userId" asp-for="Id" value="@Model.Id" />

                    <div class="form-group mb-3">
                        <label>Nowe hasło</label>
                        <input name="newPassword" asp-for="ChangeUserPasswordViewModel.NewPassword" class="form-control" />
                        <span asp-validation-for="ChangeUserPasswordViewModel.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label>Potwierdź hasło</label>
                        <input asp-for="ChangeUserPasswordViewModel.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ChangeUserPasswordViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary" disabled="@(!User.IsInRole("Admin"))">Zmień hasło</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-mb-3">
        <div class="card">
            <div class="card-header">
                <h3>Ustawienia hasła</h3>
            </div>
            <div class="card-body">
                <form asp-action="SetPasswordOptions" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="form-group form-check col-md-6">
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequireLowercase" class="form-check-input" />
                            <label class="form-check-label">Wymaga małych liter</label>
                        </div>
                        <div class="form-group form-check col-md-6">
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequireDigit" class="form-check-input" />
                            <label class="form-check-label">Wymaga cyfry</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-check col-md-6">
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequireUppercase" class="form-check-input" />
                            <label class="form-check-label">Wymaga wielkich liter</label>
                        </div>
                        <div class="form-group form-check col-md-6">
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequireNonAlphanumeric" class="form-check-input" />
                            <label class="form-check-label">Wymaga znaków specjalnych</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Ile unikalnych znaków</label>
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequiredUniqueChars" class="form-control" min="1" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Min. długość hasła</label>
                            <input asp-for="UserSecutityViewModel.UserPasswordOptions.RequiredPasswordLength" class="form-control" min="1" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Ile dni ważne hasło</label>
                            @{
                                var daysLeft = Model.UserSecutityViewModel.PasswordExpirationDate.HasValue
                                ? (Model.UserSecutityViewModel.PasswordExpirationDate.Value - DateTime.UtcNow).Days
                                : 0;
                            }
                            <input type="number" name="daysValid" class="form-control" value="@daysLeft" min="1" required />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" disabled="@(!User.IsInRole("Admin"))">Zmień ustawienia hasłą</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col mb-3">
        <div class="card-header">
            <h3>Zarządzanie kontem</h3>
        </div>
        <div class="card-body">
            <form asp-action="ToggleUserLock" method="post" style="display: inline;">
                <input type="hidden" name="userId" value="@Model.Id" />
                <button type="submit" class="btn @(Model.UserSecutityViewModel.IsLockedOut ? "btn-success" : "btn-warning")"
                @(Model.EditUserViewModel.UserName == User.Identity.Name ? "disabled" : "")>
                    @(Model.UserSecutityViewModel.IsLockedOut ? "Odblokuj konto" : "Zablokuj konto")
                </button>
            </form>

            <a asp-action="ActivityLogs" asp-route-userId="@Model.Id" class="btn btn-info">Historia aktywności</a>

            <form asp-action="DeleteUser" method="post" style="display: inline;"
                  onsubmit="return confirm('Czy na pewno chcesz usunąć tego użytkownika?');">
                <input type="hidden" name="userId" value="@Model.Id" />
                <button type="submit" class="btn btn-danger"
                @(Model.EditUserViewModel.UserName == User.Identity.Name ? "disabled" : "")>
                    Usuń konto
                </button>

            </form>
        </div>
    </div>

    <div class="col-12 mb-3">
        <div class="card-header">
            <h3>Treningi użytkownika</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Status</th>
                        <th>Data ukończenia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ut in Model.UserTrainings)
                    {
                        <tr>
                            <td>@ut.Training.Title</td>
                            <td>@(ut.IsCompleted ? "Ukończone" : "W trakcie")</td>
                            <td>@(ut.CompletionDateTime?.ToShortDateString() ?? "-")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <a asp-action="AssignTrainings" asp-route-id="@Model.Id" class="btn btn-primary">Przypisz szkolenia</a>
            <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
        </div>
    </div>
</div>